
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Customer</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="companyForm" id="companyForm">
                    <fieldset>
                        <legend>Company Information</legend>
                        <div class="form-group">
                            <label for="inputCompanyName" class="col-lg-3 control-label">Company Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" ng-model="newCompany.companyName" name="inputCompanyName" required>
                                <span class="text-danger" ng-show="companyForm.inputCompanyName.$touched && companyForm.inputCompanyName.$invalid">The company name is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWebsiteURL" class="col-lg-3 control-label">Website URL</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="inputWebsiteURL" placeholder="Website URL" ng-model="newCompany.websiteUrl" name="inputWebsiteURL" required>
                                <span class="text-danger" ng-show="companyForm.inputWebsiteURL.$touched && companyForm.inputWebsiteURL.$invalid">The website URL is required.</span>
                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectIndustry" class="col-lg-3 control-label">Industry</label>
                            <div class="col-lg-9">
                                <!--<select class="form-control" id="selectIndustry" ng-model="newCompany.industryTypeId">
                                    <option ng-repeat="industry in IndustryTypes" value="{{industry.Id}}">{{industry.Name}}</option>
                                </select>-->
                                <select name="selectIndustry" class="form-control"
                                        id="selectIndustry"
                                        ng-model="newCompany.industryTypeId"
                                        ng-init=" newCompany.industryTypeId"
                                        ng-options="option.industryTypeId as option.name for option in IndustryTypes" required></select>
                                <span class="text-danger" ng-show="companyForm.selectIndustry.$touched && companyForm.selectIndustry.$invalid">The Industry is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Enterprise Client Designation</label>
                            <div class="col-lg-9" >
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" ng-checked="newCompany.clientDesignation==true" ng-model="newCompany.clientDesignation">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="false" ng-checked="newCompany.clientDesignation==false" ng-model="newCompany.clientDesignation">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addCustomer(newCompany)" ng-disabled="companyForm.inputCompanyName.$invalid || companyForm.inputWebsiteURL.$invalid || companyForm.selectIndustry.$invalid">
                    Save changes
                </button>

            </div>
        </div>
    </div>
</div>
