<div class="panel panel-primary">
    <div class="panel-heading panel-head">CUSTOMER</div>
    <div class="panel-body">
        <form class="form-horizontal" name="companyForm" id="companyForm">
            <fieldset>
                <legend>Company Information</legend>
                <div class="form-group">
                    <label for="inputCompanyName" class="col-lg-3 control-label">Company Name</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" ng-model="newCompany.companyName" name="inputCompanyName" required>
                        <span class="text-danger" ng-show="companyForm.inputCompanyName.$touched && companyForm.inputCompanyName.$invalid">The company name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputWebsiteURL" class="col-lg-3 control-label">Website URL</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputWebsiteURL" placeholder="Website URL" ng-model="newCompany.websiteUrl" name="inputWebsiteURL" required>
                        <span class="text-danger" ng-show="companyForm.inputWebsiteURL.$touched && companyForm.inputWebsiteURL.$invalid">The website URL is required.</span>
                        <label>{{newCompany}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectIndustry" class="col-lg-3 control-label">Industry</label>
                   
                    <div class="col-lg-9">
                       
                        <!--<select class="form-control" id="selectIndustry" ng-model="newCompany.industryTypeId">
                            <option ng-repeat="industry in IndustryTypes" value="{{industry.Id}}">{{industry.Name}}</option>
                        </select>-->
                        <select name="selectIndustry" class="form-control"
                                id="selectIndustry"
                                ng-model="newCompany.industryTypeId"
                                ng-init=" newCompany.industryTypeId"
                                ng-options="option.Id as option.Name for option in IndustryTypes"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Enterprise Client Designation</label>
                    <div class="col-lg-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" ng-checked="newCompany.clientDesignation==true" ng-model="newCompany.clientDesignation">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="false" ng-checked="newCompany.clientDesignation==false" ng-model="newCompany.clientDesignation">
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectIndustry" class="col-lg-3 control-label">Primary Contact</label>
                    <label for="selectIndustry" class="col-lg-3 control-label">Primary Contact</label>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" ng-click="showContactModal()">Edit Contacts</button>
                      
                    </div>
                </div>

                <div class="form-group">
                       
                    <div class=" col-lg-offset-2 col-lg-10">
                        <a  class="btn btn-default" ui-sref="CustomerList" data-dismiss="modal">CANCEL</a>
                        <button type="button" class="btn btn-primary" ng-click="updateCustomer(newCompany)" ng-disabled="companyForm.inputCompanyName.$invalid || companyForm.inputWebsiteURL.$invalid">
                            Save changes
                        </button>
                        </div>
                    </div>


            </fieldset>
        </form>
    </div>

</div>

       
