
<div class="modal fade" id="contactsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contacts</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-lg-12">
                        <i class="btn btn-default glyphicon glyphicon-search" ng-click="showFilter = !showFilter" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table ng-table="contacts" show-filter="showFilter" class="table table-striped table-hover ">
                            <tr ng-repeat="contact in $data" class="active">

                                <td data-title="'First Name'" sortable="'firstName'" filter="{ 'firstName': 'text' }">                                
                                    <a href="" ng-click="getContact(contact)">{{contact.firstName}}</a>
                                </td>

                                <td data-title="'Last Name'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                                    <span>{{contact.lastName}}</span>
                                </td>
                                <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">
                                    <span>{{contact.email}}</span>
                                </td>
                                <td data-title="'Phone Number'" sortable="'phoneNumber'" filter="{ 'phoneNumber': 'text' }">
                                    <span>{{contact.phoneNumber}}</span>
                                </td>
                                <td data-title="'Primary Contact'" sortable="'primaryContact'" filter="{ 'primaryContact': 'text' }">
                                    <!--<span>{{contact.primaryContact}}</span>-->
                                    <span class="btn btn-primary btn-sm glyphicon glyphicon-ok" ng-show="{{contact.primaryContact}}"></span>
                                </td>
                                <td><button class="btn btn-sm btn-warning" ng-click="deleteContact(contact)">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                      
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary" ng-click="resetContact()">New</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" name="contactForm" id="contactForm">
                            <fieldset>
                                <legend>Detail Information</legend>
                                <div class="form-group">
                                    <label for="inputContactFirstName" class="col-lg-3 control-label">First Name</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="inputContactFirstName" placeholder="First Name" ng-model="newContact.firstName" name="inputContactFirstName" required>
                                        <span class="text-danger" ng-show="contactForm.inputContactFirstName.$touched && contactForm.inputContactFirstName.$invalid">First Name is required.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputContactLastName" class="col-lg-3 control-label">Last Name</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="inputContactLastName" placeholder="Last Name" ng-model="newContact.lastName" name="inputContactLastName" required>
                                        <span class="text-danger" ng-show="contactForm.inputContactLastName.$touched && contactForm.inputContactLastName.$invalid">Last Name is required.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputContactEmail" class="col-lg-3 control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" id="inputContactEmail" placeholder="Primary Email" ng-model="newContact.email" name="inputContactEmail" required>
                                        <span class="text-danger" ng-show="contactForm.inputContactEmail.$touched && contactForm.inputContactEmail.$invalid">Email is required.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputContactPhone" class="col-lg-3 control-label">Primary phone number</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="inputContactPhone" placeholder="949-399-1000"  ng-pattern="phoneNumbr"  ng-model="newContact.phoneNumber" name="inputContactPhone" required>
                                        <span class="text-danger" ng-show="contactForm.inputContactPhone.$touched && contactForm.inputContactPhone.$invalid">Valid Phone is required.</span>
                                        <!--<span class="text-danger" ng-show="contactForm.inputContactPhone.$touched && contactForm.inputContactPhone.$error.pattern">Please match pattern [+91-036-78658 || 91-036-78658]</span>-->
                                        <label>{{newContact}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="checkboxContactIsPrimaryContact" class="col-lg-3 control-label">Primary Contact</label>
                                    <div class="col-lg-9">
                                        <input type="checkbox" class="form-control" id="checkboxContactIsPrimaryContact" ng-model="newContact.primaryContact" name="checkboxContactIsPrimaryContact">
                                        <!--<span class="text-danger" ng-show="newContact.primaryContact.$touched && newContact.primaryContact.$invalid">Primary Contact is required.</span>-->
                                    </div>
                                </div>



                            </fieldset>
                        </form>
                    </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addContact(newContact)" ng-disabled="contactForm.inputContactFirstName.$invalid || contactForm.inputContactLastName.$invalid || contactForm.inputContactEmail.$invalid || contactForm.inputContactPhone.$invalid || contactForm.inputContactPhone.$error.pattern">
                    Save changes
                </button>

            </div>
        </div>
    </div>
</div>
